<div class="issue" data-ng-class="'panel-' + (issue.theme || 'default')" data-ng-drag="draggable" data-ng-drag-data="issue" data-ng-drag-success="drag()" data-ng-controller="IssueController">
    <div class="panel-heading clearfix">
        <a class="pull-left" href="{{ ::gitlabUrl }}/{{ project.path_with_namespace }}/issues/{{ issue.iid }}" target="_blank" data-ng-prevent-drag>
            <strong>#{{ issue.iid }}</strong> {{ issue.title }}
        </a>
        <div class="btn-group" data-ng-prevent-drag data-authorize="developer">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" data-authorize="developer">
                <li><a data-ng-click="theme()" class="faa-parent animated-hover"><i class="fa fa-circle faa-tada text-default"></i> Default</a></li>
                <li><a data-ng-click="theme('info')" class="faa-parent animated-hover"><i class="fa fa-circle faa-tada text-info"></i> Blue</a></li>
                <li><a data-ng-click="theme('success')" class="faa-parent animated-hover"><i class="fa fa-circle faa-tada animated-hover text-success"></i> Green</a></li>
                <li><a data-ng-click="theme('warning')" class="faa-parent animated-hover"><i class="fa fa-circle faa-tada text-warning"></i> Yellow</a></li>
                <li><a data-ng-click="theme('danger')" class="faa-parent animated-hover"><i class="fa fa-circle faa-tada animated-hover text-danger"></i> Red</a></li>
                <li class="divider"></li>
                <li><a data-ng-click="unpin()" class="faa-parent animated-hover"><i class="fa fa-thumb-tack faa-tada animated-hover"></i> Unpin</a></li>
                <li><a target="_blank" href="{{ ::gitlabUrl }}/{{ project.path_with_namespace }}/issues/{{ issue.iid }}/edit" class="faa-parent animated-hover"><i class="fa fa-pencil faa-tada animated-hover"></i> Edit</a></li>
                <li><a data-ng-click="close()" class="faa-parent animated-hover" data-ng-if="column.closable"><i class="fa fa-check-circle-o faa-tada animated-hover text-danger"></i> Close</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body clearfix">
        <img class="avatar" data-ng-src="{{issue.author.avatar_url}}" data-ng-if="issue.author.avatar_url" data-tooltip="{{issue.author.name}}"/>
        <img class="avatar" data-gravatar-src="issue.author.email" data-gravatar-size="100" data-ng-if="issue.author.email" data-tooltip="{{issue.author.name}}"/>

        <div class="box" data-ng-prevent-drag data-ng-class="{in: !issue.assignee}">
            <div class="overlay" data-ng-click="assign()" data-authorize="developer">
                <span>+</span>
            </div>
            <img class="avatar assignee" data-ng-src="{{issue.assignee.avatar_url}}" data-ng-if="issue.assignee.avatar_url"/>
            <img class="avatar assignee" data-gravatar-src="issue.assignee.email" data-gravatar-size="100" data-ng-if="issue.assignee.email"/>
        </div>
        <p>{{ issue.title }}</p>
    </div>
    <div class="panel-footer">
        <moment datetime="issue.created_at" data-tooltip="{{ issue.created_at|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment>
        <strong>
            {{ issue.milestone.title }}
            <small><moment datetime="issue.milestone.due_date" data-tooltip="{{ issue.milestone.due_date|date:'EEEE, MMMM d, y HH:mm:ss' }}" data-tooltip-placement="bottom"></moment></small>
        </strong>
    </div>
</div>
